.footer__top {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 40px;
  margin-bottom: 15px;
}
.footer__top-logo {
  width: 24%;
  padding: 0 40px 0 0;
}
.footer__top-logo img {
  height: 36px;
  margin: 0 0 10px 0;
}
@media (max-width: 767px) {
  .footer__top-logo img {
    margin: 0;
  }
}
.footer__top-logo div {
  font-family: "roboto-medium-500";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 100%;
  text-transform: lowercase;
  font-variant: small-caps;
  color: rgb(138, 139, 148);
}
@media (max-width: 1200px) {
  .footer__top-logo div {
    font-size: 0.9375em;
  }
}
@media (max-width: 1199px) {
  .footer__top-logo {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer__top-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 81px 0;
    padding: 0;
  }
}
.footer__top-navbar {
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__top-navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto-regular-400";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 100%;
  font-variant: small-caps;
  color: rgb(57, 56, 56);
  text-transform: lowercase;
  cursor: pointer;
}
.footer__top-navbar li span {
  white-space: nowrap;
}
.footer__top-navbar li svg {
  margin: 0 0 0 12px;
}
.footer__top-navbar li:first-child {
  font-family: "roboto-medium-500";
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 95%;
  font-variant: small-caps;
  color: rgb(57, 56, 56);
  margin: 0 0 35px 0;
}
.footer__top-navbar li:first-child svg {
  margin: 0 0 0 10px;
}
@media (max-width: 767px) {
  .footer__top-navbar li {
    font-size: 1.0625em;
  }
}
@media (max-width: 1439px) {
  .footer__top-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .footer__top-navbar {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer__top-navbar {
    width: 100%;
  }
}
.footer__top-features {
  width: 60%;
}
@media (max-width: 1439px) {
  .footer__top-features {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 1199px) {
  .footer__top-features {
    margin: 0 0 81px 0;
  }
}
.footer__top-about {
  width: 40%;
}
.footer__top-subscribe {
  width: 37%;
}
.footer__top-subscribe label {
  font-family: "montserrat-semi-bold-600";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 106%;
  text-transform: lowercase;
  color: rgb(106, 107, 116);
  margin: 0 0 14px 0;
}
@media (max-width) {
  .footer__top-subscribe label {
    font-size: 1em;
  }
}
@media (max-width: 1199px) {
  .footer__top-subscribe {
    width: 100%;
    margin: 108px 0 0 0;
  }
}
@media (max-width: 1199px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .footer__top {
    padding: 15px 10px;
    border-radius: 8px;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 25px 0;
}
.footer__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1199px) {
  .footer__bottom-left {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 767px) {
  .footer__bottom-left {
    margin: 0 0 10px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.footer__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
@media (max-width: 1199px) {
  .footer__bottom-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .footer__bottom-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__bottom-phone {
  background: linear-gradient(50.48deg, rgb(48, 179, 237) -33.78%, rgb(41, 158, 226) 6.62%, rgb(36, 137, 214) 47.26%, rgb(66, 161, 224) 79.73%, rgb(80, 168, 226) 111.74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: 0 10px 0 0;
  padding: 17px 55px;
}
.footer__bottom-phone a {
  cursor: pointer;
  font-size: 1.0625em;
  color: rgb(255, 255, 255);
  font-family: "roboto-medium-500";
  font-style: normal;
  -webkit-font-feature-settings: "smcp";
          font-feature-settings: "smcp";
  font-variant: small-caps;
}
@media (max-width: 1199px) {
  .footer__bottom-phone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}
@media (max-width: 767px) {
  .footer__bottom-phone {
    margin: 0 5px 0 0;
    padding: 7px 7px;
    font-size: 0.8125em;
    border-radius: 8px;
  }
}
.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom-links a {
  min-width: 60px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0;
  padding: 18px 0;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .footer__bottom-links a:last-child {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .footer__bottom-links a:last-child {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 1199px) {
  .footer__bottom-links a {
    min-width: 83px;
    width: 25%;
  }
}
@media (max-width: 767px) {
  .footer__bottom-links a {
    min-width: 40px;
    padding: 8px 0;
    margin: 0 5px 0 0;
    border-radius: 6px;
  }
}
@media (max-width: 1199px) {
  .footer__bottom-links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}
.footer__bottom-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  padding: 26px 40px 21px 40px;
}
.footer__bottom-contacts span {
  font-family: "roboto-medium-500";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 92%;
  font-variant: small-caps;
  color: rgb(57, 56, 56);
  text-transform: lowercase;
}
@media (max-width: 767px) {
  .footer__bottom-contacts span {
    font-size: 0.8125em;
  }
}
.footer__bottom-contacts a {
  font-family: "roboto-medium-500";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 92%;
  font-variant: small-caps;
  color: rgb(25, 122, 207) !important;
  text-transform: lowercase;
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
  border-left: 1px solid rgb(57, 56, 56);
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer__bottom-contacts a {
    font-size: 0.8125em;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 1199px) {
  .footer__bottom-contacts {
    border-radius: 0 10px 10px 0;
    padding: 26px 66px 21px 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .footer__bottom-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    margin: 0 0 10px 0;
    padding: 11px 0 11px 0;
  }
}
.footer__bottom-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
  padding: 2px 40px 0 0;
}
.footer__bottom-label span {
  font-family: "roboto-medium-500";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 92%;
  text-align: right;
  font-variant: small-caps;
  color: rgb(106, 107, 116);
}
@media (max-width: 767px) {
  .footer__bottom-label span {
    font-size: 0.75em;
  }
}
.footer__bottom-label svg {
  height: 16px;
  width: 91px;
  margin: 0px 0 0px 10px;
}
@media (max-width: 767px) {
  .footer__bottom-label svg {
    height: 14px;
    width: 80px;
  }
}
@media (max-width: 1199px) {
  .footer__bottom-label {
    border-radius: 10px 0 0 10px;
    padding: 2px 0 0 40px;
  }
}
@media (max-width: 767px) {
  .footer__bottom-label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    padding: 10px 0 11px 0;
  }
}
@media (max-width: 1199px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}